*{
    margin: 0px;
    background-color: gray;
}
img{
    background-color: lightgrey;
}
header{
    padding: 15px;
    background-color:lightgrey;
}
section{
    color: white;
    padding: 30px;
}
p{
    margin-bottom: 150px;
}